/* CSS declarations go here */
HTML, BODY {
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: 'teknoir';
    src: url('fonts/CaviarDreams.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

BODY {
    background: -webkit-radial-gradient(center, #ffffff, #f1f1f1);
    background: radial-gradient(center, #ffffff, #f1f1f1);
    /*background: -webkit-radial-gradient(center, #082330, #000000);*/
    /*background: radial-gradient(center, #082330, #000000);*/
    /* font: 10em/1 teknoir; */
    font-family: teknoir;
    font-weight: 100;
    font-size: 120px;
}

.text--line {
    font-size: 120px;
}

svg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    margin: 0 auto;
    display:block;
}

.text-copy {
    fill: black;
    stroke: black;
    stroke-dasharray: 20% 80%;
    stroke-width: 0.5px;
    -webkit-animation: stroke-offset 19s ease-in-out;
    animation: stroke-offset 19s ease-in-out;
}
.text-copy:nth-child(1) {
    stroke: #fdff00;
    stroke-dashoffset: 20%;
}
.text-copy:nth-child(2) {
    stroke: #ff001f;
    stroke-dashoffset: 40%;
}
.text-copy:nth-child(3) {
    stroke: #ff7d00;
    stroke-dashoffset: 60%;
}
.text-copy:nth-child(4) {
    stroke: #ffc300;
    stroke-dashoffset: 80%;
}
.text-copy:nth-child(5) {
    stroke: #ff3900;
    stroke-dashoffset: 100%;
}

@-webkit-keyframes stroke-offset {
    0% {
        stroke-dashoffset: 100%;
        stroke-dasharray: 0 10%;
    }
}

@keyframes stroke-offset {
    0% {
        stroke-dashoffset: 100%;
        stroke-dasharray: 0 10%;
    }
}

.glitch {
    filter: url(#filter);
    fill: white;
    font-weight: 100;
}

body:after {
    content: '';
    display: block;
    height: 100px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}
